<%- include("partials/header"); -%>
  <div class="dayitem">
    <h1><%=title%></h1>
    <p><%=content%></p>
    <img src=<%=piclink%> width="300" height="340" alt="no picture found"/>
     <br>
     <a style="margin-top:9px;" class="btn btn-danger" href="/delete/<%=postID%>">Delete this post</a>
  </div>


<%- include("partials/footer"); -%>
